async-timeout==3.0.1
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
discord==1.0.1
discord.py==1.5.1
future==0.18.2
h11==0.11.0
httpcore==0.12.2
httpx==0.16.1
humanfriendly==9.0
idna==2.10
multidict==4.7.6
numpy==1.19.4
Pillow==8.0.1
pyfiglet==0.8.post1
rfc3986==1.4.0
sniffio==1.2.0
urllib3==1.26.2
wcwidth==0.2.5
yarl==1.5.1
